.home-container {
  padding: 20px 30px 30px 30px;
}

.home-greeting {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.all-button-group {
  margin-top: 20px;
}

.shift-button-group {
  display: flex;
  justify-content: space-between;
}

.shift-button {
  width: 30%;
  aspect-ratio: 1 / 1;
  margin: 10px 0 20px 0;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  color: white;
  font-weight: 600;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 10px;
}

.shift-button.all {
  background-color: #a03030;
}

.shift-button.my {
  background-color: #30a066;
}

.shift-button.today {
  background-color: #5330a0;
}

.shift-apply-modify-group {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}

.shift-apply-button {
  margin: 10px 0 20px 0;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  background-color: #306aa0;
  color: white;
  font-weight: 600;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 10px;
}

.shift-modify-button {
  aspect-ratio: 1 / 1;
  margin: 10px 0 20px 0;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  background-color: #30a091;
  color: white;
  font-weight: 600;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 10px;
}

.salary-calc-button-group {
  display: flex;
  flex-wrap: wrap; /* 画面が狭いときは自動で折り返し */
}

.salary-calc-button {
  width: 30%;
  background-color: #04673a;
  aspect-ratio: 1 / 1;
  margin: 10px 50px 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  box-shadow: 0px 0px 15px -5px #777777;
}

.people-logo {
  width: 50%;
  height: auto;
  filter: brightness(0) invert(1);
}

.human-logo {
  width: 50%;
  height: auto;
  filter: brightness(0) invert(1);
}

.calendar-logo {
  width: 60%;
  height: auto;
  filter: brightness(0) invert(1);
}

.money-logo {
  width: 50%;
  height: auto;
  filter: brightness(0) invert(1);
}

.paper-logo {
  width: 50%;
  height: auto;
  filter: brightness(0) invert(1);
}

.eraser-logo {
  width: 60%;
  height: auto;
  filter: brightness(0) invert(1);
}

.button-title {
  font-weight: 600;
  color: #4b4b4b;
  font-size: 18px;
  margin-top: 10px;
}

.shift-button.all:hover {
  background-color: rgb(151, 45, 45);
}

.shift-button.my:hover {
  background-color: #2c9660;
}

.shift-button.today:hover {
  background-color: #4e2c97;
}

.shift-apply-button:hover {
  background-color: #2e6599;
}

.shift-modify-button:hover {
  background-color: #2d9688;
}

.salary-calc-button {
  background-color: #976e2d;
}
