.register-delete-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  background-color: #f9f9f9;
}

.delete-form {
  display: flex;
  flex-direction: column;
}

.delete-form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.delete-form input {
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.delete-form button {
  margin-top: 100px;
  padding: 10px;
  font-size: 1rem;
  background-color: rgb(210, 101, 101);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* セレクトボックス全体のスタイル */
.delete-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  /* margin-top: 10px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  /* text-align: left; */
}

/* フォーカス時の枠線 */
.delete-form select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.delete-form button:hover {
  background-color: red;
}

.success-message {
  margin-top: 20px;
  color: green;
  font-weight: bold;
  text-align: center;
}
